@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center">У вас недостаточно прав для обращения к этому ресурсу</h1>
