@model SuperBlogData.Models.ViewModels.EntityNotFoundViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tag Not Found";
}
<h1 class="text-center">Ошибка - тег не найден</h1>
<h5 class="text-center">Подробности об ошибке:</h5>
<hr />
<div class="alert alert-danger">
    <h5>При попытке обращения к тегу произошла ошибка - тег не найден</h5>
    <hr />
    <p>Идентификатор тега - @Model.Id</p>
</div>