@using SuperBlog.Models.ViewModels;
@model LoginViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в SuperBlog</h1>
    <h4 class="text-center">Чтобы продолжить, пожалуйста, авторизуйтесь или зарегистрируйте новый аккаунт</h4>
    <div class="content-vertical-center">
        <form method="post" asp-action="Login" asp-controller="User">
            <p>
                <label>Логин</label><br />
                <input type="text" asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </p>
            <p>
                <label>Пароль</label><br />
                <input type="password" asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </p>
            <p class="btn-group">
                <button type="submit" class="btn btn-primary">Войти</button>
                <a class="btn btn-success" asp-action="Register" asp-controller="User">Регистрация</a>
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>
