@model SuperBlog.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 class="text-center mb-5">Регистрация нового пользователя</h1>
<form method="post" asp-action="Register" asp-controller="User">
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input type="text" asp-for="FirstName" class="form-control" placeholder="Имя"/>
                <label>Имя</label>
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" asp-for="LastName" class="form-control" placeholder="Фамилия"/>
                <label>Фамилия</label>
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" asp-for="MiddleName" class="form-control" placeholder="Отчество"/>
                <label>Отчество</label>
            </div>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input type="text" asp-for="UserName" class="form-control" placeholder="Никнейм"/>
                <label>Никнейм</label>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="email" asp-for="Email" class="form-control" placeholder="Email"/>
                <label>Email</label>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" placeholder="Пароль" />
                <label>Пароль</label>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Подтвердите пароль" />
                <label>Подтвердите пароль</label>
            </div>
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
    <h5 class="text-center">Дата рождения</h5>
    <div class="row mb-4">
        <div class="col">
            <div class="form-floating">
                <input id="day" type="number" asp-for="Day" class="form-control" placeholder="День" />
                <label>День</label>
            </div>
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input id="month" type="number" asp-for="Month" class="form-control" placeholder="Месяц" />
                <label>Месяц</label>
            </div>
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-floating">
                <input id="year" type="number" asp-for="Year" class="form-control" placeholder="Год" />
                <label>Год</label>
            </div>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="text-center">
        <button class="btn btn-outline-success btn-lg" type="submit">Регистрация</button>
    </div>
</form>

@section Scripts {
    <script>
        let month_days = {
            0: 31,
            1: 31,
            2: 28,
            3: 31,
            4: 30,
            5: 31,
            6: 30,
            7: 31,
            8: 31,
            9: 30,
            10: 31,
            11: 30,
            12: 31
        }

        $(document).ready(function () {
            $("#day").on("input", function() {
                let day = Number($("#day").val());
                let month = Number($("#month").val());
                let year = Number($("#year").val());
                let isLeap = year % 4 == 0;

                if (year % 100 === 0 && year % 400 !== 0) {
                    isLeap = false
                }

                if (isLeap) {
                    month_days[2] = 29
                } else {
                    month_days[2] = 28
                }

                if (day > month_days[month]) {
                    $("#day").val(month_days[month]);
                }
            })

            $("#month").on("input", function() {
                let day = Number($("#day").val());
                let month = Number($("#month").val());
                let year = Number($("#year").val());
                let isLeap = year % 4 == 0;

                if (year % 100 === 0 && year % 400 !== 0) {
                    isLeap = false
                }

                if (isLeap) {
                    month_days[2] = 29
                } else {
                    month_days[2] = 28
                }

                if (day > month_days[month]) {
                    $("#day").val(month_days[month]);
                }

                if (month > 12) {
                    $("#month").val(12);
                }
            })

            $("#year").on("input", function () {
                let day = Number($("#day").val());
                let month = Number($("#month").val());
                let year = Number($("#year").val());
                let isLeap = year % 4 == 0;

                if (year % 100 === 0 && year % 400 !== 0) {
                    isLeap = false
                }

                if (isLeap) {
                    month_days[2] = 29
                } else {
                    month_days[2] = 28
                }

                if (day > month_days[month]) {
                    $("#day").val(month_days[month]);
                }
            })
        })
    </script>
}
